<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <%- include('partials/head') -%>
</head>

<body>
    <div id="container">
        <div id="principal">
            <%- include('partials/abruzzi') -%>
        </div>
        <%- include('partials/footer') -%>
    </div>
</body>

</html>